/* Empty. Add your own CSS if you like */
.cash-input{    
    display: inline-block;
    float: left;
}
.charge{
	cursor: pointer;
    margin-left: 10px;
    font-size: 14px;
    line-height: 2;
}
.charge-button{
	min-height: 25px;
	line-height: 25px;
}
.login-input {
	font-size: 16px !important;
	height: 40px !important;
	width: 90%;
	padding-left: 2% !important;
	display: inline-block !important;
}
.green-bottom-border {
	border-bottom: solid 1px #4AA53D !important;
}