<ion-view view-title="用户中心">
  <ion-nav-buttons side="right">  
      <button class="button button-icon icon " ng-click="logout()">注销</button>  
  </ion-nav-buttons> 
  <ion-content>
    <div style="margin-top: 5%; margin-right: auto; margin-left: auto; width: 80%">
      <div class="green-bottom-border" style="margin-top: 8%; vertical-align: middle">
        <div style="margin: 0 auto;">
          <i class="ion-android-person login-icon">&nbsp&nbsp用户名</i>
          <input type="text" class="login-input" placeholder="请填写用户名" ng-model="user.username">
        </div>
      </div>
      <div class="green-bottom-border" style="margin-top: 8%; vertical-align: middle">
        <div style="margin: 0 auto;">
          <i class="ion-android-car login-icon">&nbsp&nbsp汽车型号</i>
          <input type="text" class="login-input" placeholder="请填写汽车型号" ng-model="user.cartype">
        </div>
      </div>
      <div class="green-bottom-border" style="margin-top: 8%; vertical-align: middle">
        <div style="margin: 0 auto;">
          <i class="ion-android-car login-icon">&nbsp&nbsp车牌号</i>
          <input type="text" class="login-input" placeholder="请填写车牌号" ng-model="user.carid">
        </div>
      </div>
      <div class="green-bottom-border" style="margin-top: 8%; vertical-align: middle">
        <div style="margin: 0 auto;">
          <i class="ion-android-phone-portrait login-icon">&nbsp&nbsp手机号</i>
          <input type="text" class="login-input" placeholder="请填写手机号" ng-model="user.phone">
        </div>
      </div>
      <div style="margin-top: 8%; vertical-align: middle">
        <div style="margin: 0 auto;">
          <i class="ion-cash login-icon">&nbsp&nbsp余额</i>
        </div>
        <div style="margin: 0 auto;">
        	<a class = "charge" ng-click = "charge($event)">充值</a>
        	<input type="text" class="cash-input" placeholder="请填写金额" disabled=true ng-model="user.money">
        </div>
      </div>
      <div class="center-middle" style="margin-top:12%">
        <button class="button button-balanced" ng-click="save()">保存</button>
      </div>
    </div>
  </ion-content>
</ion-view>
