<ion-view view-title="登录">
	<ion-content class="no-scroll">
	    <!--logo-->
		<div class="animated pulse" style="margin-top:18%; animation-duration: 1600ms">
			<img src="img/parking.jpg" style = "width:50%;height:expression{width*109/320};margin-left: 40px">
		</div>
		<!--登录注册模块-->
		<div style="margin-top: 12%; margin-right: auto; margin-left: auto; width: 80%">
		    <!--用户名-->
			<div class="green-bottom-border" style="margin-top: 15%; vertical-align: middle">
				<div style="margin: 0 auto;">
					<i class="ion-android-person login-icon"></i>
					<input type="text" class = "login-input" placeholder="请填写用户名" ng-model="user.username">
				</div>
			</div>
			<!--密码-->
			<div class="green-bottom-border" style="margin-top: 15%; vertical-align: middle">
				<div style="margin: 0 auto;">
					<i class="ion-android-lock login-icon"></i>
					<input type="password" class = "login-input" placeholder="请填写密码" ng-model="user.password">
				</div>
			</div>
			<div class="center-middle" style="margin-top:15%">
				<button class="button button-balanced" ng-click="login()">登录</button>
			</div>
			<!--注册通道-->
			<a ui-sref="register" style="margin-top: 8%; float: right; font-size: 16px" nav-direction="swap" >免费注册</a>
		</div>
	</ion-content>
</ion-view>

