<ion-view view-title="附近停车场">
  <ion-nav-buttons side="left">  
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="returnback()"></button>  
  </ion-nav-buttons> 
  <ion-content class="padding">
    <div class="item-remove-animate item-avatar item-icon-right" ng-repeat="parking in parkings" type="item-text-wrap" >
      <a ui-sref="navigate({longitude:parking.longitude,latitude:parking.latitude})"><h2>{{parking.name}}</h2></a>
      <p>距离:&nbsp{{parking.distance/1000}}公里</p>
      <p>车位数:{{parking.spacenum}}个</p>
      <p>收费:&nbsp{{parking.hourcharge}}元/小时<p>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </div>
    <button class="button button-block button-positive icon-left "
            ng-click="tirarFoto()">
      获取地理定位
    </button>
    <div id="hidemap"></div>
  </ion-content>
</ion-view>