<ion-view view-title="我要停车">
    <h2>欢迎使用停车助手</h2>
    <!--<div class="center-middle" style = "margin-top:15%">
      <button class="button button-balanced" ng-click="search()" >搜索附近</button>
    </div>
    <div class="center-middle" style = "margin-top:15%">
      <button class="button button-balanced" ng-click="getin()">我要停车</button>
    </div>
    <div class="center-middle" style = "margin-top:15%">
      <button class="button button-balanced" ng-click="leave()">我要离开</button>
    </div>-->
    <!--<ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" >
        <a ng-click="search()"><h2>搜索附近</h2></a>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" >
        <a ng-click="getin()"><h2>我要停车</h2></a>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" >
        <a ng-click="leave()"><h2>我要离开</h2></a>
      </ion-item>
    </ion-list>-->
    <div class="content has-header">
      <ul class="list">

        <li class="item">
          <a ng-click="search()"><h2>搜索附近</h2></a>
        </li>
        <li class="item">
          <a ng-click="getin()"><h2>我要停车</h2></a>
        </li>
        <li class="item">
          <a ng-click="leave()"><h2>我要离开</h2></a>
        </li>

      </ul>
    </div>

</ion-view>