<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="注册">
  <ion-content class="padding">
    <img ng-src="img/user.png" style="width: 64px; height: 64px;margin-left:35px">
    <div style="margin-top: 12%; margin-right: auto; margin-left: auto; width: 80%">
      <div class="green-bottom-border" style="margin-top: 12%; vertical-align: middle">
        <div style="margin: 0 auto;">
          <i class="ion-android-person login-icon"></i>
          <input type="text" class="login-input" placeholder="请填写用户名" data-ng-model="user.username">
        </div>
      </div>
      <div class="green-bottom-border" style="margin-top: 7%; vertical-align: middle">
        <div style="margin: 0 auto;">
          <i class="ion-android-lock login-icon"></i>
          <input type="password" class="login-input" placeholder="请填写密码" data-ng-model="user.password">
        </div>
      </div>
      <div class="green-bottom-border" style="margin-top: 7%; vertical-align: middle">
        <div style="margin: 0 auto;">
          <i class="ion-android-car login-icon"></i>
          <input type="text" class="login-input" placeholder="请填写汽车型号" data-ng-model="user.cartype">
        </div>
      </div>
      <div class="green-bottom-border" style="margin-top: 7%; vertical-align: middle">
        <div style="margin: 0 auto;">
          <i class="ion-android-car login-icon"></i>
          <input type="text" class="login-input" placeholder="请填写车牌号" data-ng-model="user.carid">
        </div>
      </div>
      <div class="green-bottom-border" style="margin-top: 7%; vertical-align: middle">
        <div style="margin: 0 auto;">
          <i class="ion-android-phone-portrait login-icon"></i>
          <input type="text" class="login-input" placeholder="请填写手机号" data-ng-model="user.phone">
        </div>
      </div>
      <div class="center-middle" style = "margin-top:12%">
        <button class="button button-balanced" ng-click="register()">注册</button>
      </div>
    </div>
  </ion-content>
</ion-view>
